.canvas-container {
    -fx-background-color: #ffffff;
    -fx-border-color: #bbbbbb;
    -fx-border-width: 1;
    -fx-border-radius: 1;
}

.kick-out-button {
    -fx-background-color: #ff9393;
    -fx-text-fill: #0e0e0e;
    -fx-min-height: 18;
    -fx-max-height: 18;
    -fx-font-size: 8;
    -fx-font-weight: bold;
    -fx-background-radius: 9;
    -fx-padding: 5;
    -fx-border-width: 0;
}

.tool-button {
    -fx-background-radius: 16;
    -fx-min-width: 32px;
    -fx-min-height: 32px;
    -fx-max-width: 32px;
    -fx-max-height: 32px;
    -fx-padding: 6;
    -fx-background-color: #2c2c2c;
    -fx-border-width: 0;
}

.tool-button:hover {
    -fx-background-color: #a1a1a1;
}

.tool-button:selected {
    -fx-background-color: #c9c9c9;
}

.overlay {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 10;
    -fx-padding: 20;
}
